{% extends 'base.html.twig' %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">La carte des agriculteurs du monde</h1>

        {% if app.user %}
            <div class="text-dark mb-5">
                {{ form_start(formComment) }}
                <div class="my-3">
                    {{ form_label(formComment.commentText, 'Votre commentaire :') }}
                    {{ form_widget(formComment.commentText) }}
                </div>
                <div class="my-3">
                    {{ form_label(formComment.rate, 'Votre note :') }}
                    {{ form_widget(formComment.rate) }}
                </div>
                <button class="btn btn-primary my-3">
                    {{ 'Sauvegarder'|trans }}</button>
                {{ form_end(formComment) }}
            </div>

        {% endif %}

        <div id="position"></div>

        <div id="map" class="map"></div>
    </section>
    <section>
        <h2 class="my-4 mx-4">Découvrir les agriculteurs à proximité</h2>
        <div class="row mx-0">
            {% for city in cities %}
                <div class="col-lg-1 col-sm-4">
                    <img src="{{ asset('build/images/fields/field.jpg') }}" class="card-img" alt="image champ">
                    <div class="card-img-overlay ">
                        <h5 class="card-title text-center text-uppercase">{{ city.city }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script> let map = L.map('map').setView([49.157376, 0.47716], 13);

        function initMap() {
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 18
            }).addTo(map);
        }

        window.onload = function () {
            initMap();
        };

        let marker = L.marker([47.878264, 1.9258559])
            .addTo(map);
        marker.bindPopup("<p>Chez Jean michel </p>")</script>

    <script>
        function geolocation(position) {
            let infopos = "Position :\n";
            infopos += "Latitude : " + position.coords.latitude + "\n";
            infopos += "Longitude: " + position.coords.longitude + "\n";
            document.getElementById("position").innerHTML = infopos;

            let roger = L.marker([position.coords.latitude, position.coords.longitude])
                .addTo(map);
            roger.bindPopup("<p>Vous êtes ici</p>");
        }

        if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(geolocation);

        let coordinates = [];
        {% for farmer in farmers %}
        coordinates = [{{ farmer.city.latitude }}, {{ farmer.city.longitude }}];
        if (typeof city{{ farmer.city.zipcode }} == 'undefined') {
            let city{{ farmer.city.zipcode }} = L.marker(coordinates)
                .addTo(map);
            city{{ farmer.city.zipcode }}.bindPopup(
                "<p>Chez {{ farmer.firstname }} {{ farmer.lastname }} </p>");
        }
        {% endfor %}
    </script>
{% endblock %}
