{% extends 'base.html.twig' %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center my-5">La carte des agriculteurs du monde</h1>
        <hr>
        <h2 class="text-center my-5">Ecrivez votre commentaire :</h2>

    {% if app.user %}
    <div class="text-dark mb-5">
        {{ form_start(formComment) }}
        <div class="my-3">
            {{ form_label(formComment.commentText, 'Votre commentaire :') }}
            {{ form_widget(formComment.commentText) }}
        </div>
        <div class="my-3">
            {{ form_label(formComment.rate, 'Votre note :') }}
            {{ form_widget(formComment.rate) }}
        </div>
        <button class="btn btn-primary mt-3">
        {{ 'Sauvegarder'|trans }}</button>
        {{ form_end(formComment) }}
    </div>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    {% endif %}
        <hr>
    <h2 class="text-center my-5"> Les commentaires :</h2>
        <div class="row d-flex justify-content-center my-5">
            {% for comment in comments %}
                <div class="comment d-flex flex-column col-12 col-sm-5 col-lg-3 p-2 m-2">
                    <p class="mb-0">De : <strong>{{ comment.author.firstname }} {{ comment.author.lastname }}</strong></p>
                    <p class="mb-0">Note :
                        {% for i in 1..comment.rate %}
                                <img src="{{ asset('build/images/star.svg') }}" class="stars-rate" alt="">
                        {% endfor %}
                        </p>
                    <p class="mb-0">Commentaire : {{ comment.commentText }}</p>
                </div>
            {% endfor %}
        </div>

    <div id="position"></div>

        <div id="map" class="map"></div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script> let map = L.map('map').setView([49.157376, 0.47716], 13);

        function initMap() {
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 18
            }).addTo(map);
        }

        window.onload = function () {
            initMap();
        };
        
        let marker = L.marker([47.878264, 1.9258559])
            .addTo(map);
        marker.bindPopup("<p>Chez Jean michel </p>")</script>

    <script>
        function geolocation(position) {
            let infopos = "Position :\n";
            infopos += "Latitude : "+position.coords.latitude +"\n";
            infopos += "Longitude: "+position.coords.longitude+"\n";
            document.getElementById("position").innerHTML = infopos;

            let userIcon = L.icon({
                iconUrl: '{{ asset('build/images/marker/geolocation.png') }}',
                //shadowUrl: '{{ asset('build/images/marker/geolocation.png') }}',
                iconSize:     [41, 41],
                //shadowSize:   [50, 64],
                iconAnchor:   [20, 41],
                //shadowAnchor: [32, 64],
                popupAnchor:  [0, -40]
            });

            let roger = L.marker([position.coords.latitude, position.coords.longitude], {icon: userIcon})
                .addTo(map);
            roger.bindPopup("<p>Vous êtes ici</p>");
        }

        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geolocation);
            map.locate({setView: true, maxZoom: 16});
        }

        let farmerIcon = L.icon({
            iconUrl: '{{ asset('build/images/marker/farmer.png') }}',
            //shadowUrl: '{{ asset('build/images/marker/farmer.png') }}',
            iconSize:     [41, 41],
            //shadowSize:   [50, 64],
            iconAnchor:   [20, 41],
            //shadowAnchor: [32, 64],
            popupAnchor:  [0, -40]
        });
        
        let coordinates = [];
        let categories = [];
        let category = '';
        {% for farmer in farmers %}
        categories = [];
        coordinates = [{{ farmer.city.latitude }}, {{ farmer.city.longitude }}];
        if (typeof city{{ farmer.city.zipcode }} == 'undefined') {
            let city{{ farmer.city.zipcode }} = L.marker(coordinates, {icon: farmerIcon})
                .addTo(map);

            {% for city in cities %}
                {% if city.zipcode == farmer.city.zipcode %}
                    {#let city{{ city.zipcode }} = {{ city.farmers }};#}
                    {#let city{{ city.zipcode }}sum = city{{ city.zipcode }}.length;#}
                    {% for farmer in city.farmers %}
                        {% for transaction in farmer.transactions %}
                            if (typeof {{ transaction.product.category.name ~ city.zipcode }} == 'undefined') {
                                let {{ transaction.product.category.name ~ city.zipcode}} = "{{ transaction.product.category.name }}";
                                categories.push("{{ transaction.product.category.name }}");
                            }
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            category = categories.join(', ');

            city{{ farmer.city.zipcode }}.bindPopup(
                {#"<p>Nombre d'agriculteurs : " +#}
                {#    {% for city in cities %} city{{ city.zipcode }}sum {% endfor %} + "</p>" +#}
                '<p> Catégories : ' + category + "</p>"
            );
        }
        {% endfor %}
    </script>
{% endblock %}
